<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

  <body style="padding-top: 80px; background-color:#edf0f5">
  <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#3B5998">
        <div class="container">
          <div class="navbar-header ">
            <h3 style="margin-right:10px; color:white">MyFacebook </h3>
          </div>

            <form class="navbar-form navbar-right" role="search" method="post" action="/login" validate style="margin-right:10px">
                    <div class="form-group">
                       <p style="color:white; margin-bottom:2px">Email</p>
                        <input required type="email" name="username" style="height:23px; width:150px; font-size:14px; margin-right:10px; background-color:white;" placeholder="Username/Email">
                    </div>
                    <div class="form-group">
                      <p style="color:white; margin-bottom:2px">Password</p>
                        <input required type="password" name="password" style="height:23px; width:150px; font-size:14px; margin-right:10px; background-color:white;" placeholder="Password">
                    </div>                  
                    <button type="submit" class="btn btn-default btn-xs" style="margin-top:22px; background-color:#3B5998; border-color: white; color:white;">Sign In</button>
                </form>                
          </div>
        </div>
      </nav>
    </header> 

  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <a href="/getAbout" style="color:#3B5998; font-weight:bold; font-size: 20px">Learn more about MyFacebook here</a> <br>
      <h3><%= message %></h3>
      <% if (error==true) {%>
        <label class="alert alert-danger" style="width:100%; line-height:0px;">Incorrect Login Credentials. Please try again</label>
        <% } %>   
      <% if (header=='Signout') {%>
          <img src="../SignoutPhoto.png" height="450px" width="400px">
      <% } %>            
      <% if (header=='login') {%>
          <img src="../LoginPhoto.png" height="300px" width="400px">
      <% } %>            
      <% if (header=='LoginRequired') {%>
          <img src="../LoginPhoto.png" height="300px" width="400px">
      <% } %>            
      
    </div>
      <div class="col-md-5 col-md-offset-3">
        <form method="post" action="/signup" validate>
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h3>It's Free and always will be</h3> 
                Let's get started by signing up. Please enter following details<br><br>
            </td>
        </tr>
        <tr style> 
            <td> <input type="text" class="form-control" name="firstname" required style="margin-bottom:10px;" placeholder="First name"/> </td>
            <td><input type="text" class="form-control"  name="lastname" required style="margin-bottom:10px; margin-left:2px" placeholder="Last name"/> </td>
        </tr>
        
        
        <tr>
            <!-- <td class="col-md-2">Email Id</td> -->
            <td colspan="2"><input type="email" name="email" class="form-control" required style="margin-bottom:10px; width:100%" placeholder="Email"/> </td>
        </tr>
        <tr>
            <!-- <td class="col-md-2">Password</td> -->
            <td colspan="2"> <input type="password" name="password" class="form-control" required placeholder="Password" style="margin-bottom:10px; width:100%"/> </td> 
        </tr>
        <tr>
            <!-- <td class="col-md-2">Sex </td> -->
            <td><input type="radio" name="sex" value="m" checked style="margin-bottom:10px"/> Male
              <input type="radio" name="sex" value="f"/> Female </td>            
        </tr>
        <tr>
            <td><input class="btn btn-default pull-right btn-success " type="submit" value="Signup" style="margin-right:10px; border:none; width:80px"/> </td>
            <td><input class="btn btn-default" type="reset" value="Reset" style="width:60px"/> </td>
        </tr>
        <tr>
            <td colspan="2" ng-show="message">
              <br>
              <% if (emailError==true) {%>
                <label class="alert alert-danger" style="width:100%; line-height:0px;">Email ID already exists. Please try with another ID</label>
                <% } %>            
            </td>
        </tr>
    </table>
    </form> 
      </div>
    </div>
    </div>
  </body>
</html>